.calendarInfo {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 550px;
  text-align: left;

  .heading {
    text-transform: uppercase;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    font-family: var(--primary-font);
  }

  h3 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 8px;
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  button {
    margin-top: 20px;
  }

  .description {
    font-size: 14px;
  }
}

@media only screen and (max-width: 599px) {
  .calendarInfo {
    width: calc(100% - 30px);
    padding: 15px;
  }
}
