.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0;
  justify-content: center;
  max-width: 1298px;
}

.eventContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.editButtons {
  display: flex;
}

.editButtons button {
  margin-left: 15px;
}

.calendar {
  width: 600px;
}

.eventContent {
  display: flex;
  justify-content: space-between;
}

.text {
  text-align: left;
  width: 45%;
  margin-top: 80px;
}
