.container {
  display: flex;
  width: 90%;
  padding: 20px 0;
  justify-content: space-between;
}

.eventContainer {
  display: flex;
  width: 90%;
  margin-left: 5%;
  flex-direction: column;
  justify-content: flex-start;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.editButtons {
  display: flex;
}

.editButtons button {
  margin-left: 15px;
}
