.container {
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: center;
}

.eventContainer {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: flex-start;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.editButtons {
  display: flex;
}

.editButtons button {
  margin-left: 15px;
}

.calendar {
  width: 400px;
}

.eventContent {
  display: flex;
  justify-content: space-between;
}

.text {
  text-align: left;
  width: 45%;
  margin-top: 80px;
}
