.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0 0 20px 0;
  justify-content: center;
  max-width: 1298px;
}

.eventContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.editButtons {
  display: flex;
}

.editButtons button {
  margin-left: 15px;
}

.calendar {
  width: 600px;
}

.eventContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: calc(100% - 40px);
  margin: 40px 0;
}

.text {
  text-align: center;
  width: 600px;
  margin-bottom: 20px;
  padding-top: 20px;

  h2 {
    margin: 10px 0;
  }

  span {
    text-transform: uppercase;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    font-family: var(--primary-font);
    font-size: 14px;
  }
}

@media only screen and (max-width: 599px) {
  .eventContent {
    flex-direction: column;
  }

  .text {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .calendar {
    width: 100%;
  }
}
