.container {
  width: 100%;
  padding: 15px;
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, "Inter";
  cursor: pointer;
  background-color: #fff;
}

.logo {
  display: flex;
  margin: 10px 40px;
  align-items: center;
  align-self: center;

  div {
    font-weight: 500;
    font-size: 22px;
    font-family: "fasthand";
  }

  span {
    font-size: 20px;
    text-transform: uppercase;
    color: #735bf2;
    font-weight: 900;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 499px) {
  .container {
    padding: 0;
    margin-bottom: 25px;
  }
}
