.container {
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.list {
  width: 80%;
}

.event {
  margin: 30px 0;
  cursor: pointer;
}
