.container {
  width: 100%;

  margin-top: 40px;
}

/* override default calendar styles */
.container :global(.rbc-calendar) {
  font-family: var(--primary-font);
}

.container :global(.rbc-btn-group > button:first-child:not(:last-child):hover) {
  cursor: pointer;
}

.container :global(.rbc-toolbar-label) {
  font-family: var(--header-font);
}

.container :global(.rbc-btn-group > button) {
  display: none;
}

.container :global(.rbc-toolbar) {
  margin-bottom: 40px;
}

.container :global(.rbc-header) {
  background-color: #f0effd;
  padding: 6px 6px;
  color: #735bf2;
  font-weight: 500;
  font-size: 10px;
}

.container :global(.rbc-off-range-bg) {
  color: #e6e6e6;
  background-color: #fff;
}

.container :global(.rbc-date-cell) {
  padding: 8px 8px;
  font-size: 14px;
}
.container :global(.rbc-row-bg) {
  color: #232428;
  background-color: #fff;
}

.container :global(.rbc-month-view) {
  border-radius: 4px;
  border: none;
  flex: unset;
  height: 225px;
}

.container :global(.rbc-header:first-child) {
  border-radius: 4px 0 0 0;
}

.container :global(.rbc-header:last-child) {
  border-radius: 0 4px 0 0;
}

.container :global(.rbc-header) {
  border-color: #f0effd;
}

.container :global(.rbc-day-bg + .rbc-day-bg) {
  border-color: #f0effd;
}

.container :global(.rbc-month-row + .rbc-month-row) {
  border-color: #f0effd;
}

.container :global(.rbc-month-row) {
  max-height: 35px;
}

.container :global(.rbc-today) {
  background-color: rgba(240, 239, 253, 0.5);
}

.container :global(.rbc-event-content) {
  font-size: 12px;
  background-color: #f0effd;
}

.container :global(.rbc-row-segment .rbc-event) {
  border: 1px solid #735bf2;
  background-color: #f0effd;
  color: #735bf2;
  margin-top: -34px;
  height: 34px;
  opacity: 0.75;
  border-radius: 0;
}
