:root {
  --primary-font: "Fanwood Text", serif;
  --secondary-font: "Inter", sans-serif;
  --header-font: "Fraunces", serif;
  --primary-color: #735bf2;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;

  &.error {
    padding: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

html,
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.2rem;
  margin: 20px 0;
}

h5 {
  font-size: 2rem;
  margin: 5px 0;
}

ul {
  list-style: none;
}

label {
  font-family: Fraunces, serif;
}

input {
  font-family: Fraunces, serif;
  background-color: #f0effd;
  padding: 10px 5px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
}
